@{
    ViewBag.Title = "Forum";
}
 
<form>
    <div class="form-forum">
        <label>Time</label>
        <input type="time" name="time" placeholder="The Time" />

    </div>
    <div class="form-forum">
        <label>Date</label>
        <input type="date" name="time" placeholder="The Time" />


    </div>
    <div class="form-forum">
        <label>Categories</label>
        <select>
            <option value="Microsoft">Microsoft</option>
            <option value="Other">Other</option>

        </select>
    </div>

</form>