@{
    ViewBag.Title = "Home Page";
}


    <div id="homeblock">
        <div class="homeblock">  <h3>MsftWorld Visual Studio Dev Ops</h3></div>

        <div class="homeblock1">
            <form class="form1">
                <div class="username">
                    <label>Username</label>
                    <input type="text" name="username" value="" />
                </div>
                <div class="password">
                    <label>Password</label>
                    <input type="password" name="password" value="" />
                </div>
                <div id="checkbox">
                    <input type="checkbox" />
                    <label>Remember Me</label>
                </div>
                <div id="submit">

                    <input type="submit" , value="Login" />
                </div>
            </form>
        </div>
    </div>
    <hr />

  