<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/3ae1e147-a21c-414f-8b05-144f86425781/resourcegroups/chrisbennett/providers/Microsoft.Web/sites/RealMsftWorldVisualStudioAspNetCoreDevOpsApp</ResourceId>
    <ResourceGroup>chrisbennett</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://realmsftworldvisualstudioaspnetcoredevopsapp.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <ProjectGuid>aab93cea-a3d2-42a1-a9c8-4608f2c15700</ProjectGuid>
    <MSDeployServiceURL>realmsftworldvisualstudioaspnetcoredevopsapp.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>RealMsftWorldVisualStudioAspNetCoreDevOpsApp</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$RealMsftWorldVisualStudioAspNetCoreDevOpsApp</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
  </PropertyGroup>
</Project>