
a{
    text-decoration:none;
    text-emphasis:circle;
}
a:hover{
    color:crimson;
}

a:active{
    color:darkgoldenrod;
}
@media(max-width:600px){

    .block{
        width: 100%;
        float: none;
    }
    .block-2{
        
        width: 100%;
        float: none;
    }
    .block-3{
        
        width: 100%;
        float: none;
    }
}

.main-header {
    background-color: blueviolet;
    text-align: center;
    color: aliceblue;
    margin: 0,0,0,0;
    padding: 34px;
    overflow: hidden;
    font-size: 30px;
  
}
.main-nav-bar {
    width: 100%;
    
}
    .main-nav-bar ul {
        background-color: cadetblue;
        padding: 20px;
        margin-top: 0;
        text-align: right;
        font-size:30px;
        font-stretch:expanded;
       
      
    }
    .main-nav-bar li {
        display: inline;
       
     
    }

.forum{
    background-image: url("../images/the-forum-logo.png");
    overflow:hidden;
    padding:135px;
    text-align:center;
    min-height: 135px;
   
}
.block{
    float:left;
    width:33.3%;
}
.big-block{
    width:84%;
    float:none;
    text-align:center;
}
.block-2{
    float:left;
    width:70%;
    box-sizing: border-box;
    padding:10px;
}
.block-3 {
    float: right;
    width: 30%;
    box-sizing:border-box;
    padding:10px;
}
footer{
    margin-bottom:0;

}



.form {
    border: 4px, rgb(48, 65, 23), solid;
    border-style: outset;
    width: 50%;
}

.form .form-group {
        padding: 5px;
    }

.form label {
        display: block;
        padding: 5px;
        width: 100%;
    }

.form input[type="text"], .form textarea {
        padding: 5px;
        width: 97%;
    }

.form input[type="date"] {
        padding: 5px;
        width: 34%
    }
.form-forum label{
    display:block;
    
}
.form-forum{
    text-align:left;
}
.password label{
    display:block;
    text-align:right;
}
.username label{
    display:block;
    text-align:right;

}