
<!DOCTYPE html>
<html>
<head>
    <title>MsftWorld Visual Studio Dev Ops: @ViewBag.Title</title>

    <link href="~/css/style.css" rel="stylesheet" />
</head>

<body>

    <header class="main-header"><h1>MsftWorld Visual Studio Dev Ops @ViewBag.Title</h1></header>
    <div class="main-nav-bar">
        <nav class="main-nav">


            <a href="/Views/App/Index.cshtml">Home</a>
            <a href="~/Blog.html">Blog</a>
            <a href="~/Forum.html">Forum</a>
            <a href="~/About.html">About </a>
            <a href="~/Contact.html">Contact</a>

        </nav>

</div>
    

    <footer class="main-footer">

        <div class="big-block">
            <div class="block"><p>Placeholder<br /> Placeholder<br />Placeholder<br />Placeholder<br />Placeholder</></div>
            <div class="block1"><p>Placeholder<br /> Placeholder<br />Placeholder<br />Placeholder<br />Placeholder</></div>
            <div class="block2"><p>Placeholder<br /> Placeholder<br />Placeholder<br />Placeholder<br />Placeholder</></div>
        </div>
        <div class="clr"></div>
        <p class="block3">Copyright &copy; MsftWorld Visual Studio Dev Ops</p>
        <div class="clr"></div>



    </footer>
    <script src="~/js/index.js"></script>
</body>

</html>